/* NAVBAR */
header {
  background: aquamarine;
}
header::after {
  content: "";
  display: table;
  clear: both;
}
header .container {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}
header .container .logo {
  float: left;
  border: 3px solid black;
  margin: 10px 0;
  padding: 10px;
  text-transform: capitalize;
}
header .container nav {
  float: right;
}
header .container nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}
header .container nav li {
  display: inline-block;
  margin-left: 30px;
  padding-top: 25px;
}
header .container nav li:hover a {
  color: #fff;
}
header .container nav li .menu-sub {
  position: absolute;
  background: #444;
  display: none;
}
header .container nav li .menu-sub li {
  display: block;
  padding: 10px 0;
}
header .container nav li:hover .menu-sub {
  display: block;
}
header .container nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

/* HOMEPAGE */
main {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
main .bgImage {
  background-image: url("https://loremflickr.com/1400/500/");
  height: 400px;
  padding: 30px 20px;
}
main .bgImage p {
  border: 1px solid black;
  border-radius: 20px;
  width: 200px;
}
main .bgImage p input {
  border: none;
  padding-left: 5px;
  text-transform: capitalize;
}
main .features {
  margin: 20px 0;
}
main .features .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  grid-template-rows: 50px 2fr 2fr;
  width: 80%;
  height: 650px;
}
main .features .container h2 {
  text-transform: capitalize;
  grid-column: span 3;
  grid-row: 1;
}
main .features .container .feature-item {
  background-image: url("https://loremflickr.com/200/300/");
  background-size: cover;
  color: #fff;
}
main .features .container .feature-1 {
  grid-column-start: 1;
  grid-row-start: 2;
}
main .features .container .feature-2 {
  grid-column-start: 2;
  grid-row-start: 2;
}
main .features .container .feature-3 {
  grid-column-start: 3;
  grid-row-start: 2;
}
main .features .container .feature-4 {
  grid-column-start: 1;
  grid-row-start: 3;
}
main .features .container .feature-5 {
  grid-column-start: 2;
  grid-row-start: 3;
}
main .features .container .feature-6 {
  grid-column-start: 3;
  grid-row-start: 3;
}

/* SHOP PAGE */
main {
  width: 100%;
  height: auto;
  margin: 20px 0;
  padding: 0;
  text-align: center;
}
main .bgShop {
  background-image: url("https://loremflickr.com/1400/500/shop");
  height: 400px;
}
main .container {
  margin: 20px auto;
  padding: 0;
}
main .container .shop-item {
  padding: 10px;
  margin-bottom: 10px;
  height: 175px;
  border: 1px solid #000;
}
main .container .item-left {
  float: left;
  text-align: left;
  margin-left: 20px;
  width: 80%;
}
main .container .item-left h2 {
  text-transform: capitalize;
}
main .container .item-left h2,
main .container .item-left h3,
main .container .item-left p {
  margin: 5px 0;
}
main .container .item-left .rating {
  color: chocolate;
}
main .container .item-right {
  float: right;
  margin: 15px 20px 0 0;
}

/* CAFE PAGE */
.bgCafe {
  background-image: url("https://loremflickr.com/1400/500/cafe");
  height: 400px;
}

/* NEWS PAGE */
main {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
main .bgNews {
  background-image: url("https://loremflickr.com/1400/500/");
  height: 400px;
}
main button {
  border: none;
  background: #fff;
}
main .container {
  margin: 0 auto;
  padding: 0;
  width: 70%;
}
main .container .activity {
  color: #000;
  float: left;
  text-align: left;
  border: 1px solid #000;
  width: 100%;
  font-size: 18px;
  padding: 10px 0;
}
main .container .activity a {
  display: inline-block;
  margin-left: 20px;
  color: #000;
  list-style: none;
}
main .container .txt-area {
  width: 100%;
  height: 200px;
  border: 1px solid #000;
  position: relative;
}
main .container .txt-area a {
  color: #000;
  font-size: 28px;
  position: absolute;
  bottom: 0;
  right: 5px;
}
main .container .activity-1 {
  border: 1px solid #000;
  position: relative;
}
main .container .activity-1 .column {
  float: left;
  text-align: left;
  width: 50%;
  padding: 10px 100px;
}
main .container .activity-1 .row:after {
  content: "";
  display: table;
  clear: both;
}
main .container .activity-1 .post {
  position: absolute;
  bottom: 0;
  right: 5px;
}
main .news-content {
  border: 1px solid #000;
  margin: 20px auto;
  padding: 0;
  width: 50%;
}
main .news-content p {
  text-align: left;
  margin: 0 30px;
}
main .news-content h5 {
  display: inline-block;
  margin: 10px 100px;
}
main .news-content .news-header {
  text-align: left;
  width: 100%;
  margin: 0 10px;
}
main .news-content .news-header img {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  background: #000;
}
main .news-content .news-header h3 {
  display: inline-block;
}
main .news-content .news-btn {
  border: 1px solid #000;
  padding: 10px 0;
}
main .news-content .news-btn button {
  margin: 0 100px;
  font-size: 24px;
}
main .news-content .news-cmt {
  text-align: left;
  margin: 10px;
}
main .news-content .news-cmt img {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  margin-right: 10px;
}
main .news-content .news-cmt h4 {
  display: inline-block;
}
main .news-content .news-cmt p {
  display: inline-block;
}
main .news-content .news-cmt-btn {
  margin: 0 40px;
  font-size: 14px;
}
main .news-content .news-cmt .news-rep {
  margin: 10px 0;
}
main .news-content .news-cmt .news-rep img {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-right: 10px;
}
main .news-content .news-cmt .news-rep .input-container {
  border: 1px solid #000;
  width: 80%;
  display: inline-block;
  font-size: 14px;
  padding: 5px 0;
}
main .news-content .news-cmt .news-rep .input-container input {
  border: none;
}
main .news-content .news-cmt .news-rep .input-container .icon {
  float: right;
  margin-right: 5px;
}
main .news-content .news-cmt .cmt-container {
  border: 1px solid #000;
  width: 90%;
  display: inline-block;
  font-size: 14px;
  padding: 5px 0;
}
main .news-content .news-cmt .cmt-container input {
  border: none;
}
main .news-content .news-cmt .cmt-container .icon {
  float: right;
  margin-right: 5px;
}

/* CONTACT PAGE */
main .bgContact {
  background-image: url("https://loremflickr.com/1400/500/");
  height: 400px;
}
main .container {
  margin: 20px auto;
}
main .container .info {
  float: left;
  width: 50%;
  text-align: left;
}
main .container .form-contact {
  float: right;
  width: 50%;
  text-align: left;
}
main .container .form-contact input {
  width: 100%;
}

/* SHOP DETAILS */
.bgDetails {
  position: relative;
  height: 400px;
}
.bgDetails .card-shop {
  position: absolute;
  left: 100px;
  top: 50%;
  background-color: black;
  color: white;
  padding: 30px 50px;
}

.container {
  margin: 0 auto;
}
.container .intro-shop {
  float: left;
  width: 50%;
  height: 300px;
}
.container .intro-shop h1 {
  text-align: center;
  width: 100%;
}
@keyframes slideshow {
  10% {
    left: 0;
  }
  20% {
    left: 0;
  }
  30% {
    left: -100%;
  }
  40% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  60% {
    left: -200%;
  }
  70% {
    left: -300%;
  }
  80% {
    left: -300%;
  }
  90% {
    left: -400%;
  }
  100% {
    left: -400%;
  }
}
.container .intro-shop #slider {
  overflow: hidden;
  width: 70%;
  margin: 5px auto;
  border: 5px solid transparent;
  border-radius: 10px;
}
.container .intro-shop #slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  animation: 20s slideshow infinite;
}
.container .intro-shop #slider figure img {
  width: 20%;
  float: left;
}
@media screen and (max-width: 767px) {
  .container .intro-shop #slider {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
  }
}
.container .intro-content {
  float: left;
  width: 50%;
  height: 300px;
  text-align: justify;
  text-indent: 30px;
  padding: 10px;
}
.container .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  padding: 10px;
}
.container .grid-container .grid-item {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/* FOOTER */
footer {
  background: #444;
  color: #fff;
  height: 300px;
  position: relative;
}
footer .footer-content {
  height: 350px;
  display: flex;
}
footer .footer-content h1 {
  color: #fff;
}
footer .footer-content h1 span {
  color: aquamarine;
}
footer .footer-content .footer-section {
  flex: 1;
}
footer .footer-content .contact span {
  display: block;
  font-size: 30px;
  margin-bottom: 8px;
}
footer .footer-bottom {
  color: #686868;
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 20px;
}

/*# sourceMappingURL=styles.css.map */
